<!-- Island Green (#2BAE66FF) and White (#FCF6F5FF) -->

<div class="navbar">

	<div class="main-container navbar-main-container">
		<div class="container navbar-container">
			<div class="flex-div-row">
				<img class="nav-logo" src="https://www.flaticon.com/svg/vstatic/svg/2436/2436636.svg?token=exp=1618847731~hmac=05542f2e1dd79c7a0219fea491c61732" alt="">
				<h1>Read All</h1>
			</div>
			
			<div class="input-container">
				<a class="pointer" id="left">
				  <i class="fas fa-search img-size"></i>
				</a>
				<input type="text" name="" id="" placeholder="Search here..." class="search-input" />
			  </div>

			<div class="navbar-left-navigation">
				<ul>
					<li><a><h2>Home</h2></a></li>
					<li><a><h2>Contact Us</h2></a></li>
				</ul>
			</div>
		</div>
	</div>
	

	
</div>
