<link rel="stylesheet" href="/css/login.css" />

<div class="login-container" style="height: 400px">
  <form action="/loginUser" method="POST">
    <label for="">Email</label> <br />
    <input name="email" type="email" required /> <br />
    <label for="">Password</label> <br />
    <input name="password" type="password" required /> <br />
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
  <p>Not a User? <a href="/signup">Sign in Instead!</a></p>
</div>
