<div class="main-container" style="margin-top: 16px">
  <h1>Admin Dashboard</h1>
  <div class="container">
    <div class="flex-div-row justify-end">
      <h1>Add a New Blog</h1>
      <a href="/blogs/new">
        <button class="btn">Add new Blog</button>
      </a>
    </div>

    <div class="flex-div-row justify-end">
      <h1>View All Blogs and Edit</h1>
      <a href="/blogs/allBlogs">
        <button class="btn">View All Blogs</button>
      </a>
    </div>

    <div class="flex-div-row justify-end">
      <h1>Logout</h1>
      <a href="/logout">
        <button class="btn">Logout</button>
      </a>
    </div>
  </div>
</div>
