

<h1><%= blog.title %></h1>

<%- blog.content %>

<div class="flex-div-row justify-end align-center">
	<a href="/blogs/editBlog/<%= blog._id %> ">
		<button class="btn">Edit this Blog</button>	
	</a>
	<a href="/">
		<button class="btn">Home Page</button>	
	</a>
	<a href="/">
		<button class="btn">Delete this Blog</button>	
	</a>
</div>





